/* Make the html and body elements take the full height */
html, body {
    height: 100%; 
    margin: 0;
  }

  .full-height{
    min-height: 73vh; /* Full height of the body content */

 
  }

.controlImages{
    max-width: 85%;
    max-height: 85%;
    margin: 20px auto;
}
.flex-container {
  display: flex;
  gap: 20px; /* Adjust the value to set the desired gap */
  flex-wrap: wrap;
}

.flex-item {
  flex: 1 1 0; /* Grow, shrink, and basis to ensure equal sizes */
  min-width: 0; /* Prevents overflow issues */
/*  overflow: hidden;  Ensures that text doesn't overflow 
  text-overflow: ellipsis;  Adds ellipsis for overflowing text 
  white-space: nowrap; Prevents text from wrapping */
}
.btn-edit-save{
  min-width: 200px;
  max-width: 200px;
  margin: 0 auto;
}
/* Fixed footer for mobile devices (max-width 767px) */

.fix-padding{
  padding-bottom: 150px;
}
@media (max-width: 991px) {
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      color: white;
      text-align: center;
      padding: 10px 0;
    }
 
    .half-width{
      min-width: 100%; /* Adjust the value to set the desired minimum width */
    }
    #main-box{

      padding-bottom: 150px;

    }
    #second-box{
      margin-top: 50px;
    }
  }

  /* Footer styling for larger screens */
  @media (min-width: 992px) {
    footer {
      position: relative;
      color: white;
      text-align: center;
      padding: 20px 0;
    }

    .half-width{
      min-width: 50%; /* Adjust the value to set the desired minimum width */
    }
    .fix-padding{
      padding-bottom: 10px;
    }
  }