{% extends "bank/layout.html" %}
{% load static %}
{% block title %}Profile{%endblock%}
{% block body %}

{% block script %}

{% endblock %}
<div class="fix-padding">
  <div class="container mt-5 controlImages">
    <div class="row">
      <div
        class="col-12 col-md-6 d-flex align-items-center justify-content-center ">
        <div class="text-center mt-2">
          <h2>Edit your profile information below.</h2>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img src="{% static 'bank/images/editProfile.jpg' %}"
          alt="Placeholder Image" class="img-fluid">
      </div>

    </div>
  </div>

  <form method="POST" action="{% url 'edit_profile' %}" class="container">
    {% csrf_token %}
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name"
        value="{{ user.first_name }}">
    </div><br>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" id="last_name" name="last_name"
        value="{{ user.last_name }}">
    </div><br>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="address"
        value="{{ user.address }}">
    </div><br>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber"
        name="phoneNumber" value="{{ user.phone_number }}">
    </div><br>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email"
        value="{{ user.email }}">
    </div><br>
    <button class="btn btn-primary d-block text-cente btn-edit-save"
      type="submit">Save</button>
  </form>

</div>

{% endblock %}
