{% extends "bank/layout.html" %} 
{% load static %}
{% block title %}Profile{%endblock%} 
{% block body %}

{% block script %}

{% endblock %}

<h4>Hello <b>{{ user_name }}</b>. This is your profile page.</h4>

<div class="container mt-5 controlImages">
    <div class="row">
      <!-- Image div (takes half of the space on large screens) -->
      <div class="col-12 col-md-6">
        <img src="{% static 'bank/images/profileIMG.jpg' %}" alt="Placeholder Image" class="img-fluid">
      </div>

      <!-- Text div (takes half of the space on large screens) and centers the text -->
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center ">
        <div class="text-center mt-2">
          <h2>See your profile information below.</h2>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet libero ac lorem tincidunt sollicitudin.</p> -->
        </div>
      </div>
    </div>
  </div>

  <div> 

  First Name: {{ user.first_name|capfirst }}
  <br>
  Last Name: {{ user.last_name|capfirst }}
  <br>
  Account Number: {{ user.account_number }}
  <br>
  Address: {{ user.address }}
  <br>
  Balance: {{ user.balance }} $
  <br>
  Phone Number: {{ user.phone_number}}
  <br>
 

  </div>


{% endblock %}



